
@{
    Layout = null;
}

<div class="nav-header">
	<div class="brand-logo">
			<span class="brand-title">
			<img src="https://thumbs.dreamstime.com/b/soccer-word-art-illustration-written-out-ball-text-vector-eps-available-eps-file-contains-transparencies-gradient-58472592.jpg" style="width:243px; height:85px" alt="">
			</span>
		</a>
	</div>
</div>

