@{
	Layout = null;
}

<div class="nk-sidebar">
	<div class="nk-nav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a href="/Team/TeamList" aria-expanded="false">
					<span class="nav-text">Takım Listesi</span>
				</a>
			</li>

			<li>
				<a href="/Player/PlayerList" aria-expanded="false">
					</i><span class="nav-text">Futbolcu Listesi</span>
				</a>
			</li>
		</ul>
	</div>
</div>