@model UpdatePlayerDto

@{
    ViewData["Title"] = "UpdatePlayer";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<form method="post">

    <input type="hidden" asp-for="PlayerID" />
    <label>Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Soyisim</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />

    <label>Yaş</label>
    <input type="number" asp-for="Age" class="form-control" />
    <br />

    @Html.DropDownListFor(x => x.TeamID, (List<SelectListItem>)ViewBag.teamList, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary">Futbolcu Güncelle</button>
</form>

